@import "~bootstrap/scss/bootstrap";

.jumbotron {
    min-height: 100vh;
}

img {
    max-height: 150px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    footer {
        margin-top: auto;
        min-height: 90px;
        display: flex;
        align-content: center;

        div {
            display: flex;
            align-content: center;
            height: 100%;
        }
    }
}

.main-nav{
    background-color: #0282f9;

    .icon-main-nav{
        min-height:120px;
        img{
            max-width:80px;
            max-height:60px;
            object-fit: contain;
        }
    }
}